<td class="experiment-title"> <%= title %> </td>
<td class="experiment-url">   <%=  url  %>   </td>
<td class="experiment-type">  <%=  type %>  </td>
<td class="experiment-date">  <%=  date %> </td>
<td class="experiment-edit admin-experiment-list-btn">
    <button type="button" class="btn btn-primary btn-xs experiment-edit-btn" data-id="<%= id %>">EDIT</button>
</td>
<td class="experiment-delete admin-experiment-list-btn">
    <button type="button" class="btn btn-danger btn-xs experiment-delete-btn" data-id="<%= id %>">DELETE</button>
</td>