
<tr id="<%= id %>">
    <td class="experiment-title">
        <form role="form" id="edit-experiment-title-form">
            <input type="title" id="inputTitle" placeholder="Enter Title" class="form-control" value="<%= title %>">
        </form>
    </td>
    <td class="experiment-url">
        <form role="form" id="edit-experiment-url-form">
            <input type="url" id="inputUrl" placeholder="Enter Url" class="form-control" value="<%= url %>" >
        </form>
    </td>
    <td class="experiment-type">
        <div data-toggle="buttons" id="edit-experiment-type-btns" class="btn-group">
            <% if(type == 'site'){ %>
            <label class="btn btn-default active">
            <% }else{ %>
            <label class="btn btn-default">
            <% } %>
                <input type="radio" name="site" id="site-btn" value="site">SITE
            </label>

            <% if(type == 'video'){ %>
            <label class="btn btn-default active">
            <% }else{ %>
            <label class="btn btn-default">
            <% } %>
                <input type="radio" name="video" id="video-btn" value="video">VIDEO
            </label>
        </div>
    </td>

    <td class="experiment-date">
        <form role="form" id="edit-experiment-date-form">
            <input
                   id="edit-experiment-input-date"
                   value="<%= date %>"
                   class="form-control">

        </form>
    </td>

    <td></td>

    <td class="experiment-edit admin-experiment-list-btn">
        <button type="button" class="btn btn-primary btn-xs experiment-update-btn" data-id="<%= id %>">UPDATE</button>
    </td>


</tr>