<% include ../header.ejs %>

<div id="admin-blog-create-container" class="container main-container">
    <div id="blog-create-warning"></div>

    <form role="form">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="email" class="form-control" id="blogTitleInput" placeholder="Enter title">
        </div>


        <div class="form-group">
            <label for="exampleInputFile">Image</label>

            <div id="blog-image" class="col-md-12">
                <div class="thumbnail">
                    <% if( thumbnail ) { %>
                        <img id="blog-thumbnail" data-thumbnail="<%= thumbnail %>" src="../images/blog/<%= thumbnail %>" alt="...">
                    <% } else { %>
                        <img id="blog-thumbnail" data-thumbnail src="../images/dummy-thumbnail.png" alt="...">
                    <% } %>
                </div>
            </div>

            <div class="blog-image-input-file">

                <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Choose</button>



            </div>

            <!--<p class="help-block">Example block-level help text here.</p>-->
        </div>


        <div class="form-group">
            <label for="exampleContent">content</label>
            <textarea class="form-control" id="blogContentInput" rows="20"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" id="create-blog-post">CREATE</button>
    </form>

</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="blog-album-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">Albums</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-3">

                        <form method="post" action="/admin/blog-upload-photo" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" name="image" id="exampleInputFile">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>


                    <div class="col-md-9">
                        <div class="row">

                            <%
                            if(albums){
                                for(var i = 0; i < albums.length; i++){
                                    var albumName = albums[i].name;
                            %>
                                <div class="col-md-4">
                                    <% if( thumbnail == albumName) { %>
                                    <div class="thumbnail blog-thumbnail selected">
                                        <img src="../images/blog/<%= albumName %>" alt="..." >
                                    <% }else{ %>

                                    <div class="thumbnail blog-thumbnail">
                                        <a href="./blogCreate?image=<%= albumName %>">
                                            <img src="../images/blog/<%= albumName %>" alt="..." >
                                        </a>
                                    <%}%>

                                    </div>
                                </div>
                            <%
                                }
                            }
                            %>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../scripts/admin/blog/createView.js"></script>

<% include ../footer.ejs %>